#lum-link:link {
    color: black;
}

#lum-link:visited {
    color: black;
}

#lum-link:hover {
    color: purple;
}

#logout {
    color: rgb(170, 0, 0);
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 69px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

#login-body {
    background-color: #063459;
}

#login-footer {
    background-color: #d1b506;
}

#login-footer p {
    color: black;
}

#login-footer a {
    text-decoration: none;
    color: purple;
}

#login-button {
    background-color: rgb(237, 97, 35);
}

.slider-order {
    font-size: 25px;
}